In [ ]:
import os
import pandas as pd
import requests
from tqdm import tqdm
import re
from unidecode import unidecode
import numpy as np

In [6]:
df = pd.read_csv(r'D:\KLTN_Image-Seaching_Systeam\data\menu.csv')

In [7]:
df

,Tên nhà hàng,Tên món,Giá,Hình ảnh món ăn
0,Top Floor Rue Des Seaux Restaurant - Hàng Thùng,Sườn Nướng Tảng Sốt Mật Ong Vừng (1kg),350.000đ,https://mms.img.susercontent.com/vn-11134517-7...
1,Top Floor Rue Des Seaux Restaurant - Hàng Thùng,Salad Caeser Với Gà Nướng,100.000đ,https://mms.img.susercontent.com/vn-11134517-7...
2,Top Floor Rue Des Seaux Restaurant - Hàng Thùng,Cơm Rang Dứa,115.000đ,https://mms.img.susercontent.com/vn-11134517-7...
3,Top Floor Rue Des Seaux Restaurant - Hàng Thùng,Mỳ Ý Sốt Bolognese,115.000đ,https://mms.img.susercontent.com/vn-11134517-7...
4,Top Floor Rue Des Seaux Restaurant - Hàng Thùng,Cơm Sườn Nướng Sốt Mật Ong Vừng,150.000đ,https://mms.img.susercontent.com/vn-11134517-7...
...,...,...,...,...
16098,LittleB Kitchen - Coffee & Desert,Cuốn Tomyum,70.000đ,https://mms.img.susercontent.com/vn-11134517-7...
16099,LittleB Kitchen - Coffee & Desert,Cuốn Mix Hai Loại,85.000đ,https://mms.img.susercontent.com/vn-11134517-7...
16100,LittleB Kitchen - Coffee & Desert,Cuốn Mix Ba Loại,85.000đ,https://mms.img.susercontent.com/vn-11134517-7...
16101,LittleB Kitchen - Coffee & Desert,Salad Lườn Ngỗng Sốt Mè Rang,55.000đ,https://mms.img.susercontent.com/vn-11134517-7...
16102,LittleB Kitchen - Coffee & Desert,Cuốn Gà Nướng Mật Ong Rau Mầm,70.000đ,https://mms.img.susercontent.com/vn-11134517-7...

In [12]:
len(df['Tên món'].unique())

10966

In [23]:
def clean_food_name1(name):
    if pd.isna(name):  # Kiểm tra nếu giá trị NaN
        return ""
    
    name = name.lower().strip()  # Chuyển về chữ thường và xóa khoảng trắng thừa
    # name = unidecode(name)  # Loại bỏ dấu tiếng Việt
    name = re.sub(r"[^\w\s]", "", name)  # Xóa ký tự đặc biệt
    name = re.sub(r"\s+", " ", name)  # Chuẩn hóa khoảng trắng
    return name
len(df['Tên món'].apply(clean_food_name1).unique())

10166

In [24]:
def clean_food_name2(name):
    if pd.isna(name):  # Kiểm tra nếu giá trị NaN
        return ""
    
    name = name.lower().strip()  # Chuyển về chữ thường và xóa khoảng trắng thừa
    name = unidecode(name)  # Loại bỏ dấu tiếng Việt
    name = re.sub(r"[^\w\s]", "", name)  # Xóa ký tự đặc biệt
    name = re.sub(r"\s+", " ", name)  # Chuẩn hóa khoảng trắng
    return name
len(df['Tên món'].apply(clean_food_name2).unique())

10120

In [26]:
df.loc[ df['Tên món'].apply(clean_food_name2) != df['Tên món'].apply(clean_food_name1),'Tên món']

0        Sườn Nướng Tảng Sốt Mật Ong Vừng (1kg)
1                     Salad Caeser Với Gà Nướng
2                                  Cơm Rang Dứa
3                            Mỳ Ý Sốt Bolognese
4               Cơm Sườn Nướng Sốt Mật Ong Vừng
                          ...
16098                               Cuốn Tomyum
16099                         Cuốn Mix Hai Loại
16100                          Cuốn Mix Ba Loại
16101              Salad Lườn Ngỗng Sốt Mè Rang
16102             Cuốn Gà Nướng Mật Ong Rau Mầm
Name: Tên món, Length: 14284, dtype: object

In [36]:
df2=pd.DataFrame(df['Tên món'].apply(clean_food_name2).value_counts())
df1=pd.DataFrame(df['Tên món'].apply(clean_food_name1).value_counts())
# df1['name']=df1.index 
df1.index = df1.index.to_series().apply(clean_food_name2)
df1

                                      count
Tên món
khoai tay chien                          44
tra quat                                 43
sua dau nanh                             39
tra dao                                  34
tra chanh                                33
...                                     ...
tra sen quang hoi                         1
sua chua hoa qua vitamin khoang chat      1
sua chua tran chau den trang              1
che thach dua non la nep                  1
matcha latte aki                          1

[10166 rows x 1 columns]

In [34]:
df2

                                      count
Tên món
khoai tay chien                          44
tra quat                                 43
sua dau nanh                             39
tra dao                                  34
nem chua ran                             33
...                                     ...
tra sen quang hoi                         1
sua chua hoa qua vitamin khoang chat      1
sua chua tran chau den trang              1
che thach dua non la nep                  1
salad caeser voi ga nuong                 1

[10120 rows x 1 columns]

In [ ]:
df1.subtract(df2, fill_value=0).query("count != 0")

TypeError: unsupported operand type(s) for -: 'str' and 'float'